

<%# build a comment form using form_for %>
<% unless current_user.is_a? GuestUser %>
  <%= form_for([@blog, @comment], remote: true) do |f| %>
    <div class='form-group mt-4 mb-2'> 
      <%= f.text_area :content, rows: 3, id: 'comment-content', placeholder: 'Enter comment here', class: 'form-control' %> 
    </div>
    <div class='form-group mb-3'>
      <%= f.submit "Comment", id: 'comment-submit', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
