<div class='col-md-8'>
    <div class='topic-index-container'>
        <h1>Topics</h1>

        <%= render @topics %>

        <div>
            <%= link_to "Back to blogs", blogs_path %>
        </div>
    </div>
</div>
