<div class="album py-5 bg-body-tertiary">
    <div class="container">

        <% if logged_in?(:site_admin) %>
            <p><%= link_to "Create New Item", new_portfolio_path, class: 'btn portfolio-btn-primary' %></p>
        <% end %>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

            <%= render partial: 'portfolio_item', collection: @portfolio_items %>

        </div>
    </div>
</div>
    