
<div class='skill-item-wrapper'>
    <%= link_to skill.title, skill_path(skill) %>

    <div>
        <%= skill.percent_utilized %>

        <%= link_to skill, method: :delete, class: 'delete-skill-icon' do %>
            <%= fa_icon 'trash'%>
        <% end %>
    </div>
</div>