
<div class='skills-container'>
    <div class='skill-index-header'>
        <h1>Skills</h1>
        <%= link_to "Create New Skill", new_skill_path %>
    </div>

    <%= render @skills %>

    <div class='my-5'>
        <%= link_to "Back to home", root_path %>
    </div>
</div>