

<div class='skill-show-container'>
    <h1><%= @skill.title %></h1>
    <h2><%= @skill.percent_utilized %></h2>

    <div class='my-5'>
        <%= link_to "Back to skills", skills_path %> /
        <%= link_to "Back to home", root_path %>
    </div>
</div>
