<div class="d-flex p-4 p-md-5 rounded text-bg-dark">
  <h3 class="pb-4 mb-4 fst-italic border-bottom">
    Here are some thoughts 
    <span class='mx-3'>
      <%= link_to "Create New Blog", new_blog_path, class: "mast-link" if logged_in?(:site_admin) %>
    </span>
    <span class='mx-3'>
      <%= link_to "All Topics", topics_path, class: "mast-link" %> 
    </span>
  </h3>
</div>
