<section class="text-center py-4 mb-5">
    <div class="row py-lg-2">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">My Portfolio</h1>
            <p class="lead text-body-secondary">Some of my projects I've been working on. Maybe you'll be able to notice my progress over time. Please check them out</p>
            <p class='px-5 head-quote'><i>“You learn more from failure than from success. Don’t let it stop you. Failure builds character.”</i> — Unknown<p>
        </div>
    </div>
</section>