
<div class='row'>
    <div class='col-md-4'>
        <%# <img src='' width='300' alt='Profile Image' /> %>

        <%= image_tag "att_park.jpg", width: 300, alt: "Profile Image" %>
    </div>

    <div class='col-md-8'>
        Bio........

        <p>
            <button
                class='btn btn-primary'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#projects'
                aria-expanded='false'
                aria-controls='projects'
            >
                Recent Projects
            </button>

            <button
                class='btn btn-primary'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#courses'
                aria-expanded='false'
                aria-controls='courses'
            >
                Recent Courses
            </button>
        </p>

        <p>
            <div class='collapse' id='projects'>
                <div class='card card-block'>
                    Project 1
                </div>
                <div class='card card-block'>
                    Project 2
                </div>
            </div>

            <div class='collapse' id='courses'>
                <div class='card card-block'>
                    Course 1
                </div>
                <div class='card card-block'>
                    Course 2
                </div>
            </div>
        </p>
    </div>
</div>
