<div class='home-container'>

    <main class="px-3 align-middle">
        <h1>Welcome to my portfolio</h1>
        <p class="lead">"Welcome those big, sticky, complicated problems. In them are your most powerful opportunities." - 
Ralph Marston</p>
        
    </main>

    <div class='btn-container'>
        <p class="home-btn-wrapper">
            <%= link_to "About Me", about_me_path, class: "btn home-about-btn" %>
            <button
                class='btn home-about-btn'
                type='button'
                data-bs-toggle='collapse'
                data-bs-target='#projects-home'
                aria-expanded='false'
                aria-controls='projects'
            >
                Recent Projects
            </button>

            <p>
                <div class='collapse' id='projects-home'>
                    <div class='card home-card-block'>
                        <%= link_to "All my projects", portfolios_path %>
                    </div>
                    <div class='card home-card-block'>
                        <a href='#' target='_blank'>Video Editing Portfolio Site</a>
                    </div>
                    <div class='card home-card-block'>
                        <a href="#" target='_blank'>Salon Website</a>
                    </div>
                    <div class='card home-card-block'>
                        <a href="#" target='_blank'>Personal Portfolio using ReactJs</a>
                    </div>
                </div>
            </p>
        </p>
    </div>
</div>

