@import 'bootstrap';
@import 'font-awesome';
@import "jquery-ui.css";

body {
  font-family: 'Zilla Slab', serif;
  position: relative;
  min-height: 100vh;
}

/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
    border-bottom: 1px solid #e5e5e5;
  }
  
  .blog-header-logo {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
    font-size: 2.25rem;
  }
  
  .blog-header-logo:hover {
    text-decoration: none;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
  
  .display-4 {
    font-size: 2.5rem;
  }
  @media (min-width: 768px) {
    .display-4 {
      font-size: 3rem;
    }
  }
  
  .flex-auto {
    flex: 0 0 auto;
  }
  
  .h-250 { height: 250px; }
  @media (min-width: 768px) {
    .h-md-250 { height: 250px; }
  }
  
  /* Pagination */
  .blog-pagination {
    margin-bottom: 4rem;
  }
  
  /*
   * Blog posts
   */
  .blog-post {
    margin-bottom: 4rem;
  }
  .blog-post-title {
    font-size: 2.5rem;
  }
  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;
  }

  .bread-nav {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25rem;
    padding: 4px 12px;
    background-color: #c7c5c57a;
    border-radius: 5px;
  }
  
  /*
   * Footer
   */
  .blog-footer {
    width: 100%;
    margin-top: 20px;
    padding: 2.5rem 0;
    color: #727272;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
    position: static;
    bottom: 0;
  }
  .blog-footer p:last-child {
    margin-bottom: 0;
  }
  
/* 
  Custom styles
*/

.blog-nav {
  a {
    font-size: 1.3em;
    margin: 10px 15px;
  }

  a.active {
    font-weight: bold;
    color: #161616;
  }
}

.logout-btn {
    border: none;
    background-color: transparent;
    font-size: 1.3em;
    color: #161616;
    text-decoration: underline;
    transition: 0.3s ease-in-out;

    &:hover {
        opacity: 0.6;
    }
  }

.social-links li a {
    font-size: 2.3em;
    color: #161616;
    transition: all 0.3s ease-in-out;

    &:hover {
        color: #0b78b7a4;
    }
}

.sidebar-topic-link {
  color: #135da3;
  transition: all 0.3s ease-in-out;

  &:hover {
    color: #0b78b7a4;
  }
}

.comment-card {
  width: 75%;
  margin-top: 5px;
  box-shadow: 1px 1px 1px 1px #727272;
}

.comment-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comment-attribution {
  font-size: 0.7em;
  color: #727272;
  font-style: italic;
}

.comment-name {
  font-weight: 700;
}

.file-icon {
  font-size: 1.3em;
  padding: 0 5px;
  color: #10155d;
  transition: color 0.3s ease-in-out;

  &:hover {
    opacity: 0.6;
  }
}

.edit-icon {
  font-size: 1.2em;
  padding: 0 5px;
  color: #585d10;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #8a8f10;
  }
}

.delete-icon {
  font-size: 1.2em;
  padding: 0 5px;
  color: #a00;
  transition: color 0.3s ease-in-out;

  &:hover {
    color: #d00;
  }
}

.topic-index-container {
  width: 100%;
  min-height: calc(100vh - 200px);
  display: flex;
  flex-direction: column;

  .topic-item-wrapper {
    width: 50%;
    margin: 15px;
    padding: 10px 20px;
    border-bottom: 1px solid #161616;
    display: flex;
    justify-content: space-between;
    

    a {
      font-size: 1.5em;
      color: #161616;
      text-decoration: none;
      transition: 0.4s ease-in-out;

      &:hover {
        color: #383a27;
      }
    }
  }
}

