@import 'bootstrap';
@import 'variables';

body {
    background-color: $dark-grey;
    color: $purple;
}

.card {
    background-color: $dark-purple;
    color: $tan;
}

.logout-btn {
    border: none;
    background-color: transparent;
    margin-left: 20px;
}